# GENERAL CONFIG OPTIONS

config APP_OBS_NUMBER
    bool "Log sample observation count"
    default n

# CCS811 CONFIG OPTIONS

config CCS811_VERBOSE
	bool "Log ccs811 verbose"
	default n

config APP_MONITOR_BASELINE
	bool "Display BASELINE register value for each sample"
	default n

config APP_USE_DEF_ENVDATA
	bool "Program CCS811 with fixed environmental parameters"
	default n

config APP_ENV_TEMPERATURE
	int "Environment temperature for CCS811, Cel"
	default 25
	depends on APP_USE_DEF_ENVDATA

config APP_ENV_HUMIDITY
	int "Environment humidity for CCS811, %RH"
	default 50
	depends on APP_USE_DEF_ENVDATA

config DEBUG_BLINKY
	bool "Debug LED Status"
	default n

source "Kconfig.zephyr"